<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add or Update Skill</title>
    <link rel="stylesheet" type="text/css" th:href="@{/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/add-candidate-skill.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="header-container"><h1 th:text="${candidateSkill.skill == null ? 'Thêm kỹ năng' : 'Cập nhật kỹ năng'}"></h1></div>

    <div class="action-bar">
        <a href="javascript:history.back()" class="go-back-btn">Quay lại</a>
    </div>

    <div class="form-container">
        <!-- Form for adding a new skill -->
        <form th:object="${candidateSkill}" method="post" class="form-add-skill" th:action="@{/candidate/addSkill}" th:if="${candidateSkill.skill == null}">
            <div class="form-group-skill">
                <label>Required Skills:</label>
                <div class="form-skill">
                    <div style="display: flex; justify-content: space-between; align-items: baseline">
                        <div style="flex: 2; margin-right: 10px;">
                            <select name="skill.skillId" required>
                                <option value="" disabled selected>Select a skill</option>
                                <option th:each="skill : ${skills}" th:value="${skill.skillId}" th:text="${skill.skillName}"></option>
                            </select>
                        </div>
                        <div style="flex: 1; margin-right: 10px;">
                            <select name="skillLevel" required>
                                <option value="" disabled selected>Skill level</option>
                                <option th:each="level : ${skillLevels}" th:value="${level}" th:text="${level}"></option>
                            </select>
                        </div>
                        <div style="flex: 2; margin-right: 10px;">
                            <input type="text" name="moreInfo" th:field="*{moreInfo}">
                        </div>
                        <div style="flex: 1;">
                            <button type="button" class="remove-button" onclick="removeSkill(this)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="add-skill-button" onclick="addSkill()">Add One More</button>
            </div>
            <div class="form-group">
                <button type="submit" class="add-job-button">Thêm kỹ năng</button>
            </div>
        </form>

        <!-- Form for updating an existing skill -->
        <form th:object="${candidateSkill}" method="post" class="form-add-skill" th:action="@{'/candidate/updateSkill/' + ${candidateSkill.skill.skillId}}" th:unless="${candidateSkill.skill == null}">
            <div class="form-group-skill">
                <label>Required Skills:</label>
                <div class="form-skill">
                    <div style="display: flex; justify-content: space-between; align-items: baseline">
                        <div style="flex: 3; margin-right: 10px;">
                            <select name="skill.skillId" required>
                                <option value="" disabled selected>Select a skill</option>
                                <option th:each="skill : ${skills}" th:value="${skill.skillId}" th:text="${skill.skillName}" th:selected="${candidateSkill.skill != null and candidateSkill.skill.skillId == skill.skillId}"></option>
                            </select>
                        </div>
                        <div style="flex: 2; margin-right: 10px;">
                            <select name="skillLevel" required>
                                <option value="" disabled selected>Skill level</option>
                                <option th:each="level : ${skillLevels}" th:value="${level}" th:text="${level}" th:selected="${candidateSkill.skillLevel == level}"></option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <input type="text" name="moreInfo" th:field="*{moreInfo}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="add-job-button">Cập nhật</button>
            </div>
        </form>
    </div>
</div>

<div id="skill-template" style="display: none;" th:object="${candidateSkill}">
    <select name="candidateSkills[0].skill.skillId" required>
        <option value="" disabled selected>Select a skill</option>
        <option th:each="skill : ${skills}" th:value="${skill.skillId}" th:text="${skill.skillName}"></option>
    </select>
    <select name="candidateSkills[0].skillLevel" required>
        <option value="" disabled selected>Skill level</option>
        <option th:each="level : ${skillLevels}" th:value="${level}" th:text="${level}"></option>
    </select>
    <input type="text" name="candidateSkills[0].moreInfo" th:field="*{moreInfo}">
</div>

<script>
    let skillIndex = 1;

    function addSkill() {
        const skillTemplate = document.getElementById('skill-template');
        const skillContainer = document.createElement('div');
        skillContainer.className = 'form-skill';
        skillContainer.style.display = 'flex';
        skillContainer.style.justifyContent = 'space-between';
        skillContainer.style.alignItems = 'baseline';

        const skillSelectContainer = document.createElement('div');
        skillSelectContainer.style.flex = '2';
        skillSelectContainer.style.marginRight = '10px';
        skillSelectContainer.innerHTML = skillTemplate.children[0].outerHTML.replace(/\[0\]/g, `[${skillIndex}]`);

        const levelSelectContainer = document.createElement('div');
        levelSelectContainer.style.flex = '1';
        levelSelectContainer.style.marginRight = '10px';
        levelSelectContainer.innerHTML = skillTemplate.children[1].outerHTML.replace(/\[0\]/g, `[${skillIndex}]`);

        const moreInfoContainer = document.createElement('div');
        moreInfoContainer.style.flex = '2';
        moreInfoContainer.style.marginRight = '10px';
        moreInfoContainer.innerHTML = skillTemplate.children[2].outerHTML.replace(/\[0\]/g, `[${skillIndex}]`);

        const removeButtonContainer = document.createElement('div');
        removeButtonContainer.style.flex = '1';

        const removeButton = document.createElement('button');
        removeButton.type = 'button';
        removeButton.className = 'remove-button';
        removeButton.textContent = 'Remove';
        removeButton.onclick = function () {
            skillContainer.remove();
        };
        removeButtonContainer.appendChild(removeButton);

        skillContainer.appendChild(skillSelectContainer);
        skillContainer.appendChild(levelSelectContainer);
        skillContainer.appendChild(moreInfoContainer);
        skillContainer.appendChild(removeButtonContainer);

        document.querySelector('.form-group-skill').appendChild(skillContainer);

        skillIndex++;
    }

    function removeSkill(button) {
        const formGroupSkill = document.querySelector('.form-group-skill');
        const formSkills = formGroupSkill.querySelectorAll('.form-skill');
        if (formSkills.length > 1) {
            button.closest('.form-skill').remove();
        } else {
            alert('Cần ít nhất 1 kỹ năng cho mỗi công việc!');
        }
    }
</script>
</body>
</html>