<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/company-update.css}">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Cập nhật thông tin công ty</h1>

    <div class="action-bar">
        <a href="javascript:history.back()" class="go-back-btn">Quay lại</a>
    </div>

    <div class="form-container">
        <form action="/company/updateProfile" method="post" th:object="${user}">
            <div class="form-group">
                <label for="companyName">Tên công ty:</label>
                <input type="text" id="companyName" name="companyName" th:value="*{companyName}" required>
            </div>
            <div class="form-group">
                <label for="webUrl">Website URL:</label>
                <input type="text" id="webUrl" name="webUrl" th:value="*{webUrl}">
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại:</label>
                <input type="tel" id="phone" name="phone" th:value="*{phone}" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="*{email}" required>
            </div>
            <div class="form-group">
                <label for="about">Thông tin thêm về công ty:</label>
                <textarea id="about" name="about" rows="4"th:value="*{about}"></textarea>
            </div>
            <h4>Địa chỉ công ty</h4>
            <div class="address-company">
                <div class="form-group">
                    <label for="city">Thành phố:</label>
                    <input type="text" id="city" th:field="*{address.city}" required>
                </div>
                <div class="form-group">
                    <label for="street">Đường:</label>
                    <input type="text" id="street" th:field="*{address.street}" required>
                </div>
                <div class="form-group">
                    <label for="number">Số đường:</label>
                    <input type="text" id="number" th:field="*{address.number}" required>
                </div>
                <div class="form-group">
                    <label for="zipcode">Zipcode:</label>
                    <input type="text" id="zipcode" th:field="*{address.zipcode}" required>
                </div>
            </div>
            <div class="form-group button-group">
                <button type="submit" class="submit-btn">Cập nhật</button>
                <button type="reset" class="clear-btn">Hủy</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>