body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
}

.action-bar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.go-back-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.go-back-btn:hover {
    background-color: #0056b3;
}

.manage-job-btn {
    text-decoration: none;
    background-color: #ffc107;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.update-profile-btn {
    background-color: #17a2b8;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}